<!-- index.html.erb -->

The three movies are

<h1><%= @matilda %></h1>
<p><a href="/movies/matilda">See the movie</a></p>
<h1><%= @shrek %></h1>
<p><a href="/movies/shrek">See the movie</a></p>
<h1><%= @gladiator %></h1>
<p><a href="/movies/gladiator">See the movie</a></p>
