<ul> Great video clips from some older movies
  <li><%= link_to "Friends", video_path %></li>
  <li><%= link_to "Gladiator", video_path %></li>
  <li><%= link_to "Seinfeld", video_path %></li>
  <li><%= link_to "Matilda", video_path %></li>
</ul>

